:root {
    --blue-grey: #eaf1f8;
    --blue-grey--dark: #576574;
    --blue--accent: #003f40;
    --white: #fff;
    --black: #000;
    --red: #ED4C67;
    --teal: rgb(0, 184, 148);
    --teal-light: rgba(0, 184, 148, .2);
    --gray-background: rgb(87, 101, 116, .1);
    --overlay: rgba(0, 0, 0, .7);

    --font-main: 'Poppins', sans-serif;

    --font-thin: 100;
    --font-light-normal: 300;
    --font-normal: 400;
}