:root {
    --blue-grey: #c8d6e5;
    --blue-grey--dark: #576574;
    --blue--accent: #1289A7;
    --white: #fff;
    --black: #000;
    --red: #ED4C67;
    --gray-background: rgb(87, 101, 116, .1);
    --overlay: rgba(0, 0, 0, .7);

    --font-main: 'Poppins', sans-serif;

    --font-thin: 100;
    --font-light-normal: 300;
    --font-normal: 400;
}